.menu {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    width: 12%;
    height: 250px;
    position: absolute;
    margin-top: 15px;
    background-color: grey;
    font-size: 16px;
    
}

nav{
    justify-content: space-between;
    font-size: 16px;
   
}
.container
{
    border: 1px solid red;
    margin-left:180px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between; 
    height: 1000px;
}
.littlecards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
}
.card1{
    display: inline-block;
    padding-top: 50px;
    
}
footer{
    text-align: center;
}