@font-face {
    font-family: 'distant_galaxyregular';
    src: url('policeSW/web_fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.eot');
    src: url('policeSW/web_fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
         url('policeSW/web_fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.woff2') format('woff2'),
         url('policeSW/web_fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.woff') format('woff'),
         url('policeSW/web_fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.menu {
    display: flex;
    justify-content: space-around;
    /*border: 1px solid red;*/
    width: 12%;
    height: 250px;
    position: absolute;
    margin: 15px 0 0 4px;
    background-color: black;
    border-radius: 25px;
}

nav{
    justify-content: space-between;
    font-size: 22px;
    padding: 12px 0 12px 0;
}
.container
{
    /*border: 1px solid red;*/
    margin-left:180px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between; 
    height: 1200px;
}
.littlecards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 50px;
}
.card1{
    display: inline-block;
    padding-top: 0px;
    background-color: white;
    height: 750px;
    margin-top: 50px;
    border-radius: 5px;

    
}
footer, p{
    text-align: center;
    padding-top: 15px;  
}
span{
    color: orange;
    font-weight: bold;
}
body{
    background-image: url('ImageSW/starwars-header-image.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    opacity: 1;
}
#img1{
    height:400px;
    min-width: 100%; 
}
#img2{
    height:400px;
    min-width: 100%;
}
#img3{
    height:400px;
    min-width: 100%;
}
audio{
    width: 20%;
    height: 20px;
}
#mugs{
    height:225px ;
}
h1{
    font-size: 50px;
    color:white;
    text-align: center;
    font-family: 'distant_galaxyregular';
}
